@keyframes clockwiseSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes antiClockwiseSpin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes slide-rev {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

.images {
  overflow: hidden;
  background: transparent;
  white-space: nowrap;
  border-radius: 0.75rem;
}

.images:hover .images-slide {
  animation-play-state: paused;
}

.images-slide {
  width: max-content;
  display: inline-block;
  animation: 40s slide infinite linear;
}

.images-slide-rev {
  width: max-content;
  display: inline-block;
  animation: 40s slide-rev infinite linear;
}

.images:hover .images-slide-rev {
  animation-play-state: paused;
}

.journey {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.journey span {
  background-color: white;
  padding-right: 10px;
}

.journey-img {
  z-index: -2;
  background-color: transparent;
}

.journey:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 1%;
  height: 0.79rem;
  border-top: 2px solid #4a4a4a;
  z-index: -1;
}

.rotating-text {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

.rotating-text-mobile {
  bottom: 0;
  right: 0;
  transform: translate(5%, 50%);
}

.no-underline:hover {
  text-decoration: none;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.schedule-link:hover img {
  filter: invert(100%);
  transition: all 0.15s ease-in-out;
}

.schedule-link:hover {
  transition: all 0.15s ease-in-out;
}

.schedule-link img {
  filter: invert(0);
  transition: all 0.15s ease-in-out;
}

.schedule-link {
  transition: all 0.15s ease-in-out;
}

.init-date {
  position: relative;
}

.init-date:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 50%;
  border-left: 1px solid #1a3844;
}

.last-date {
  position: relative;
}

.last-date:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0%;
  width: 1px;
  height: 50%;
  border-left: 1px solid #1a3844;
}

.date {
  position: relative;
}

.date:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0%;
  width: 1px;
  height: 100%;
  border-left: 1px solid #1a3844;
}

.progress-bar {
  border-radius: 4rem 2rem;

  /* to center the percentage value */
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 1s ease-in;
}

.timer-content {
  border-radius: 4rem 2rem;
}

.timer {
  background: linear-gradient(
      90deg,
      #145666 -1.9%,
      #3ebbb7 26.76%,
      #f7b141 66.19%,
      #f55f2f 100%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.agenda-class {
  /* border-bottom: 1px solid #3ebbb7; */
  position: sticky;
  z-index: 2;
  padding-right: 1rem;
  background: #0f2832;
}

.agenda-class:after {
  line-height: 0.1em;
  content: "";
  position: absolute;
  bottom: calc(50%);
  left: 30%;
  width: 60%;
  border-bottom: 1px solid #3ebbb7;
  z-index: -1;
}

* {
  scroll-behavior: smooth;
}

.opaque-sheet {
  background: linear-gradient(180deg, transparent, rgba(15, 40, 50, 1));
}
